<!-- Footer -->
<div class="container pt-5">
  <footer class="page-footer font-small blue pt-5">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <!-- Logo -->
          <a id="logo" [routerLink]="['/home']"></a>
          <p class="footer-p">Gridnex is cloud gaming servise....<br>
            Spoil event was words<br>
            her off cause any. Tears woman which no is ...</p>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3 ">

          <!-- Links -->
          <h5 class="text-uppercase">popular categories</h5>

          <div class="d-flex align-content-start flex-wrap">
            <div class="p-2 popular-cat">Playstation</div>
            <div class="p-2 popular-cat">Xbox One</div>
            <div class="p-2 popular-cat">God of war</div>
            <div class="p-2 popular-cat">Bioshock</div>
            <div class="p-2 popular-cat">Uncharted 4</div>
            <div class="p-2 popular-cat">Uplay</div>
            <div class="p-2 popular-cat">Steam</div>
            <div class="p-2 popular-cat">Wordpress</div>
            <div class="p-2 popular-cat">Rachet</div>
            <div class="p-2 popular-cat">Github</div>
          </div>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">subscribe</h5>
          <p>
            Subscribe to our newsletter and get
            notification when new games are
            available.
          </p>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn subscribe-btn" type="button" id="button-addon2">Subscribe</button>
            </div>
          </div>
          <label>
            <input type="radio" name="radio-button" value="css" checked />
            <span>Subscribe me to newsletter</span>
          </label>
        </div>

        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <br><br>
    <hr class="hr-footer">
    <!-- Copyright -->
    <div class="d-flex justify-content-between p-3">
      <div class="footer-copyright flot-left py-3">
        About Gridnex | Terms of Service
        <h6>
          © 2019 Gridnex All rights reserved.
        </h6>
      </div>
      <!-- Copyright -->
      <!-- social-media -->
      <div class="flot-right py-3">
        Follow us on social media
        <div class="social-media d-flex justify-content-between">
          <i class="social-media fab fa-facebook-f"></i>
          <i class="social-media fab fa-twitter"></i>
          <i class="social-media fab fa-instagram"></i>
          <i class="social-media fab fa-discord"></i>
          <i class="social-media fab fa-youtube"></i>
          <i class="social-media fab fa-github"></i>
          <i class="social-media fas fa-comment-alt"></i>
        </div>
      </div>
    </div>

  </footer>
</div>

<!-- Footer -->