<!--nav bar-->
<nav>
  <div class="container">
    <div class="navbar nav navbar-fixed d-flex justify-content-between" id="navbar-nav">
      <div class="nav-header" id="nav-title">
        <div class="nav-title">
          <a id="logo" [routerLink]="['/home']"></a>
        </div>
      </div>

      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links" id="nav-title">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['']">About</a>
        <a [routerLink]="['']">Games</a>
        <a [routerLink]="['']">Community</a>
        <a [routerLink]="['']">Blog</a>
        <a [routerLink]="['']">Page</a>
        <a [routerLink]="['']">Components</a>
        <i id="search-button" class="fas fa-search"></i>
        <a id="login-btn" [routerLink]="['/company/login']">LOGIN</a>
        <a id="access-btn" [routerLink]="['/company/login']">Access Now</a>
      </div>
    </div>
  </div>
</nav>
<!--nav bar-->