nav {
    margin-top: 5%;
    height: 60px;
    width: 100%;
    background-color: transparent;
    transition:500ms ease;
    background: transparent;
    border-width: 15px 50px 1px; 
    z-index: 100; 
 
  }

  .nav.scrolled{
    background:#000;
  }
  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: white;
  }
  #logo {
    display: block;
    background: url(../../assets/games/logo.svg) no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    width: 170px;
    height: 47px;
}
.nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    background: none;
    height: auto;
    left: auto;
    margin-left: auto;
    opacity: 1;
    position: static;
    top: auto;
    transform: rotateY(45deg);
    visibility: visible;
    width: 55%;
    margin-top: 1%;
  }

.nav > .nav-links > a {
    color: white;
    display: inline-block;
    padding: 10px 10px 30px 10px;
    text-decoration: none;
  }
/* Search button */
form{
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: none;
}
/*  */
#login-btn {
    color: white;
    margin: 10px;
    border: 2px solid #ad0041  ;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
    padding: 0 15px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 10px;
}
#access-btn {
 color: white;
 padding: 10px 30px;
 border-radius: 5px;
 background: #cc000b;
 background: -webkit-linear-gradient(to right,#ff000a,#f857a6);
 background: linear-gradient(to right,#ff000a,#ad0041);
 box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
 cursor:pointer;
 border: 1px !important;
}

  /* .sticky {
    background: #6b4974c4;
}
.sticky-title{
  color: white;
} */


@media screen and (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 477px);
      overflow-y: auto;
    }
       #logo {
        width: 140px;
        height: 30px;
    }
      li#condidat-access {
        display: none;
    }

    #access-btn {
        display: none;
    }
    #login-btn{
      display: none;
    }
  
  }
  @media screen and (max-width: 600px) {
    .nav > .nav-links {
    background: none;
    height: auto;
    left: auto;
    margin-left: auto;
    opacity: 1;
    position: static;
    top: auto;
    transform: rotateY(45deg);
    visibility: visible;
    font-size: small;

}
.form{
    left: 72%;}

.description-btn {
    margin-top: 0;
}

  }
  @media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 1050px;
}}