<div class="container card form-box ">
  <div class="title">
    New Game
  </div>
  <hr class="solid">

  <div class="container  center ">
    <form>
      <div class="row">
        <div class="col-lg-12 col-lg-centered columns">
          <div class="row">
            <div class="col-lg-6 columns">
              <div class="input-icons">
                <i class="fa fa-user icon">
                </i>
                <input class="input-field" type="text" placeholder="Game Name">
              </div>
            </div>
            <div class="col-lg-6 columns">
              <input type="date" placeholder="dd/mm/yyyy" autocomplete="off" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <input type="text" placeholder="Description" autocomplete="off" />
            </div>
            <div class="col-lg-6 columns">
              <input type="text" placeholder="Link" autocomplete="off" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <div class="input-icons">
                <i class="fa fa-credit-card icon">
                </i>
                <input class="input-field" type="text" placeholder="Video link">
              </div>

            </div>
            <div class="col-lg-6 columns">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label> Game is available !
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <label for="category">Category</label>
              <input type="text" autocomplete="off" />
            </div>
            <div class="col-lg-6 columns">
              <label for="studio">Studio</label>
              <select>
                <option></option>
                <option value="portfolio">d1</option>
                <option value="app">d2</option>
                <option value="store">d3</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <label for="developer">Developer</label>

              <select>
                <option></option>
                <option value="portfolio">d1</option>
                <option value="app">d2</option>
                <option value="store">d3</option>
              </select>
            </div>
            <div class="col-lg-6 columns">
              <label for="platform">Platform</label>
              <select>
                <option></option>
                <option value="portfolio">d1</option>
                <option value="app">d2</option>
                <option value="store">d3</option>
              </select>
              <div class="row">
                <button type="button" class="btn btn-primary save-btn"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
