<div class="container card form-box ">
  <div class="title">
    New Game
  </div>
  <hr class="solid">

  <div class="container  center ">
    <form [formGroup]="gameForm" (submit)="addGame()">
      <div class="row">
        <div class="col-lg-12 col-lg-centered columns">
          <div class="row">
            <div class="col-lg-6 columns">
              <div class="input-icons">
                <i class="fa fa-user icon">
                </i>
                <input class="input-field" type="text" placeholder="Game Name" formControlName="name" name="name">
              </div>
            </div>
            <div class="col-lg-6 columns">
              <input type="date" placeholder="dd/mm/yyyy" autocomplete="off" formControlName="release_date" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <input type="text" placeholder="Description" autocomplete="off" formControlName="description" />
            </div>
            <div class="col-lg-6 columns">
              <input type="text" placeholder="Link" autocomplete="off" formControlName="link" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <div class="input-icons">
                <i class="fa fa-credit-card icon">
                </i>
                <input class="input-field" type="text" placeholder="Video link" formControlName="video">
              </div>

            </div>
            <div class="col-lg-6 columns">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label> Game is available !
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <label for="category">Category</label>
              <select class="form-control" formControlName="category_name">
                <option *ngFor="let cat of categories" [value]="cat.categoryId">{{cat.name}}</option>
              </select>
            </div>
            <div class="col-lg-6 columns">
              <label for="studio">Studio</label>
              <select class="form-control" formControlName="studio_name">
                <option *ngFor="let st of studio" [value]="st">{{st}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 columns">
              <label for="developer">Developer</label>

              <select class="form-control" formControlName="developer_name">
                <option *ngFor="let dev of developers" [value]="dev">{{dev}}</option>
              </select>
            </div>
            <div class="col-lg-6 columns">
              <label for="platform">Platform</label>
              <select class="form-control" formControlName="platform_name">
                <option *ngFor="let plat of platforms" [value]="plat">{{plat}}</option>
              </select>
              <div class="row">
                <button type="submit" class="btn btn-primary save-btn"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
