<div id="featured-game p-3">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-md-8 ">
        <img class="column-one" src="../../../../assets/games/Layer 0.jpg">
        <div class="row available">
          <div class="col-md-8 name">
            <label>
              Prey
            </label>
          </div>
        </div>
        <div class="row description">
          <div class="col-md-8">
            <label>
              is now available
            </label>
          </div>
          <div class="col-md-4">
            <a id="paly-btn">Play Now</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="second-img zoom-effect">
          <figure>
            <img class="column-tow" src="../../../../assets/games/API Documentation.pdf.jpg"></figure>
        </div>

        <br>
        <div class="therd-img zoom-effect">
          <figure>
            <img class="column-tow" src="../../../../assets/games/Layer 1.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
